
<div class="card">
  <div class="card-header">
    Send Archive .eml Form
  </div>

  <div class="card-body">
    <%= form_with model: @incoming_email, local: true, html: { multipart: true } do |form| %>

      <div class="mb-3">
        <%= form.label :file, "Select form .eml", class: "form-label" %>
        <%= form.file_field :file, accept: ".eml", class: "form-control" %>
      </div>

      <div class="d-flex justify-content-end">
        <%= link_to "Back", incoming_emails_path, class: "btn btn-secondary mx-2" %>
        <%= form.submit "Send", class: "btn btn-primary" %>
      </div>

    <% end %>
  </div>
</div>
