<div class="card">
    <div class="card-header">
        Incoming email details nº: <%= @incoming_email.id %>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-end mb-3">
            <span class="badge bg-<%= color_badge(@incoming_email.status) %>"><%= @incoming_email.status %></span>
        </div>
        <div class="mb-3">
            <%= label_tag :filename, "Filename", class: "form-label" %>
            <%= text_field_tag :filename, @incoming_email.filename, readonly: true, class: "form-control" %>
        </div>
        <div class="mb-3">
            <%= label_tag :sender, "Sender", class: "form-label" %>
            <%= text_field_tag :filename, @incoming_email.sender, readonly: true, class: "form-control" %>
        </div>
        <% unless @incoming_email.customer.nil? %>
            <div class="card mb-3">
                <div class="card-header">
                    Customer details
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <%= label_tag :name, "Subject", class: "form-label" %>
                        <%= text_field_tag :name, @incoming_email.customer.subject, readonly: true, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                        <%= label_tag :name, "Name", class: "form-label" %>
                        <%= text_field_tag :name, @incoming_email.customer.name, readonly: true, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                        <%= label_tag :email, "Email", class: "form-label" %>
                        <%= text_field_tag :email, @incoming_email.customer.email, readonly: true, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                        <%= label_tag :phone, "Phone", class: "form-label" %>
                        <%= text_field_tag :phone, @incoming_email.customer.phone, readonly: true, class: "form-control" %>
                    </div>
                    <div class="mb-3">
                        <%= label_tag :name, "Product Code", class: "form-label" %>
                        <%= text_field_tag :name, @incoming_email.customer.product_code, readonly: true, class: "form-control" %>
                    </div>
                </div>
            </div>
        <% end %>
        <div class="card mb-3">
            <div class="card-header">
                Email processings details
            </div>
            <div class="card-body">
                <% if @incoming_email.email_processings.size > 0 %>
                    <% @incoming_email.email_processings.each do |email_processing| %>
                        <div class="card p-3">
                            <div class="mb-3">
                                Success? <%= email_processing.success %>
                            </div>
                            <% unless email_processing.success? %>
                                <div class="mb-3">
                                    <%= label_tag "Error message" %>
                                    <%= text_area_tag :error_message, email_processing.error_message, cols: 80, rows: 10, class: "form-control", disabled: true %>
                                </div>
                            <% end %>
                            <div class="mb-3">
                                <%= label_tag "Extracted data" %>
                                <%= text_area_tag :error_message, email_processing.extracted_data, cols: 80, rows: 10, class: "form-control", disabled: true %>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    No informations at moment
                <% end %>
            </div>
        </div>
        <div class="d-flex justify-content-end">
            <%= link_to "Back", incoming_emails_path, class: "btn btn-secondary" %>
        </div>
    </div>
</div>